.direção {
    display: flex;
    flex-direction: row-reverse;
}

.imagem{
    height: 10em;
    width: 10em;
    

}

/*.container { 
    display: flex;
    justify-content: center;   
    background-image: url(https://i.pinimg.com/originals/f2/12/c5/f212c509eac3a53152d33a5fb9df6d64.png);
    background-clip: content-box;
}
*/
#imagem {
    display: flex;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(https://i.pinimg.com/originals/f2/12/c5/f212c509eac3a53152d33a5fb9df6d64.png);
    background-position: center;
    justify-content: center;

}



#palavra{ 
    display: flex;
    width: 200px;
    height: 200px;
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5em;
    color:rgb(255, 255, 255);
    


    }
    /*https://picfiles.alphacoders.com/327/327438.jpg**/
/*background-image: url(https://i.pinimg.com/originals/f2/12/c5/f212c509eac3a53152d33a5fb9df6d64.png); */